.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh 0 0 0;
  width: 100%;
  background-color: cadetblue;
  height: 100vh;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  width: 320px;
  height: 30px;
  padding: 5px;
}

.label {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.inner_container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.suggestion{
  background: white;
  max-height: 320px;
  overflow-y: scroll;
}

.suggestion > div{
  padding: 4px;
  cursor: pointer;
}

.suggestion > div:hover{
  padding: 4px;
  cursor: pointer;
  background-color: ghostwhite;
}